@charset "UTF-8";
:root {
  --brand1: #005F5A;
  --brand2: #018079;
  --brand3: #00716B;
  --brand4: #41E1BB;
  --brand5: #87EFD6;
  --accent1: #FFC700;
  --accent2: #FFC700;
  --accent3: #A82680;
  --black: #000000;
  --gray1: #828282;
  --gray2: #E4E4E4;
  --gray3: #F5F5F5;
  --white: #ffffff;
  --fsz: 18px;
}

/* jost-regular - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-500 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-600 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-700 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  line-height: 1.4;
  background-color: var(--white);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fsz);
  color: var(--black);
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.swiper-button {
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  transition: all 0.3s;
  position: initial !important;
}

.swiper-button-disabled {
  opacity: 0.2 !important;
  border: 1px solid;
  border-color: var(--black);
}

.swiper-button:after,
.swiper-button:before {
  display: none !important;
}

/**************************\
  Basic Modal Styles
\**************************/
.modal {
  font-family: var(--ff1);
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: var(--col5);
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.1);
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--col-wh);
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: var(--ff2);
  transition: all 0.3a;
}

.modal__close {
  background: transparent;
  border: 0;
  color: var(--col-wh);
  opacity: 0.25;
  cursor: pointer;
}
.modal__close:hover {
  opacity: 1;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn:focus,
.modal__btn:hover {
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

/**************************\
  Demo Animation Style
\**************************/
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.modal {
  z-index: 999999999999;
  position: absolute;
}
.modal__input {
  margin-bottom: 12px;
}

.wrapper {
  max-width: 1352px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 10px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--accent1);
  border: 1px solid;
  border-color: var(--accent1);
  cursor: pointer;
  height: 43px;
  padding: 20px;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--black);
  box-shadow: none;
  position: relative;
  border-radius: 70px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.button--light {
  background-color: transparent;
  border-color: var(--black);
}
.button:hover, .button:focus {
  opacity: 0.7;
}
.button:active {
  opacity: 0.3;
}
@media (max-width: 1024px) {
  .button {
    font-size: 12px;
  }
}

.title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--black);
  margin: 0;
  margin-bottom: 30px;
  font-family: "Jost", sans-serif;
}

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  max-width: 175px;
  width: 100%;
  grid-gap: 8px;
}
.social-list li {
  flex-grow: 0;
  width: 35px;
}
.social-list a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list a img {
  display: block;
  width: 35px;
  height: 35px;
}
.social-list a:hover, .social-list a:active {
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .social-list li {
    width: 30px;
  }
  .social-list img {
    width: 30px;
    height: 30px;
  }
}

.nav-button {
  box-shadow: none;
  transform: none;
  border: none;
  height: var(--elem-sz);
  width: var(--elem-sz);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  background-color: var(--accent1);
  display: none;
}
.nav-button span {
  width: 20px;
  height: 2px;
  background-color: var(--black);
  display: block;
  pointer-events: none;
  transition: all 0.3s;
}
.nav-button span::before,
.nav-button span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--black);
  display: inherit;
  position: absolute;
  border-radius: inherit;
  pointer-events: initial;
  transition: initial;
}
.nav-button span:before {
  margin-top: -6px;
}
.nav-button span::after {
  margin-top: 6px;
}
.nav-button.open span {
  background-color: transparent;
  border-radius: 0;
}
.nav-button.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}
.nav-button.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .nav-button {
    display: flex;
  }
}

.header {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 0;
  position: relative;
  z-index: 99;
}
.header__top {
  display: flex;
  align-items: flex-start;
  grid-gap: 16px;
  margin-bottom: 23px;
  flex-wrap: wrap;
  justify-content: center;
}
.header__top-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  max-width: 300px;
}
.header__top-item span,
.header__top-item a {
  font-weight: 700;
  color: var(--brand2);
}
.header__top-item:nth-child(2) {
  margin: 0 auto;
  text-align: center;
  margin: 0 auto;
}
.header__top-item:nth-child(3) {
  text-align: right;
}
.header__bottom {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 32px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.header__logo {
  max-width: 177px;
  width: 100%;
  margin-right: 66px;
}
.header__logo a {
  display: flex;
}
.header__logo img {
  -o-object-fit: cover;
     object-fit: cover;
}
.header__buttons {
  max-width: 390px;
  width: 100%;
  display: flex;
  grid-gap: 20px;
  justify-content: flex-end;
}
.header__buttons .button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.header__search {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--gray2);
}
@media (max-width: 1024px) {
  .header__logo {
    max-width: 140px;
    display: flex;
    align-items: center;
  }
  .header__buttons {
    gap: 12px;
    max-width: 340px;
  }
}
@media (max-width: 930px) {
  .header__top {
    gap: 12px;
    margin-bottom: 24px;
  }
  .header__top-item {
    width: 100%;
    max-width: 635px;
    flex-grow: 2;
    text-align: initial !important;
    margin: 0 auto;
    font-size: 18px;
  }
  .header br {
    display: none;
  }
  .header__logo {
    margin-right: auto;
  }
}
@media (max-width: 650px) {
  .header__buttons {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__top {
    display: none;
  }
  .header__top-item {
    font-size: 14px;
  }
}

.navigation {
  background-color: var(--brand1);
  color: var(--white);
  transition-duration: 0.3s;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
.navigation a {
  display: block;
  padding: 20px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1024px) {
  .navigation a {
    font-size: 14px;
    padding: 14px 0;
  }
}
@media (max-width: 768px) {
  .navigation {
    position: relative;
    top: -700px;
  }
  .navigation .wrapper {
    padding: 0;
  }
  .navigation ul {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .navigation li {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid;
    border-color: var(--brand2);
  }
  .navigation li:last-child {
    border-bottom: none;
  }
  .navigation a {
    font-size: 18px;
    padding: 20px 10px;
    justify-content: center;
  }
}

.mob-menu-open .navigation {
  top: 0;
}

@media (max-width: 1350px) {
  .hide-1350 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
}
@media (max-width: 930px) {
  .hide-930 {
    display: none;
  }
}
@media (max-width: 900px) {
  .hide-900 {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */