:root {
  --brand1: #005F5A;
  --brand2: #018079;
  --brand3: #00716B;
  --brand4: #41E1BB;
  --brand5: #87EFD6;
  --brand6: #DBFFF6;
  --accent1: #FFC700;
  --accent2: #FFC700;
  --accent3: #A82680;
  --black: #000000;
  --gray1: #828282;
  --gray2: #E4E4E4;
  --gray3: #F5F5F5;
  --white: #ffffff;
  --fsz: 18px;
}

/* jost-regular - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-500 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-600 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jost-700 - latin_cyrillic */
@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/jost-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/jost-v14-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  line-height: 1.4;
  background-color: var(--white);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fsz);
  color: var(--black);
  letter-spacing: 0.01em;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}

.visually-hidden:not(:focus),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

.section {
  padding: 80px 0 100px;
}
@media (max-width: 1440px) {
  .section {
    padding: 60px 0 75px;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 40px 0 60px;
  }
}

.top-button {
  position: fixed;
  width: 80px;
  height: 80px;
  background: #FFC700;
  box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 100px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.top-button svg {
  position: absolute;
  pointer-events: none;
}

.up-button-show .top-button {
  opacity: 1;
  visibility: visible;
}

.slider-button {
  border: none;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -40px;
  z-index: 11;
}
.slider-button--prev {
  left: -112px;
}
.slider-button--next {
  right: -112px;
}
.slider-button svg {
  pointer-events: none;
}
.slider-button-disabled {
  opacity: 0.2 !important;
  border: 1px solid;
  border-color: var(--black);
  box-shadow: none;
}
.slider-button:after, .slider-button:before {
  display: none !important;
}
.slider-button:hover {
  background-color: var(--accent1);
}
@media (max-width: 1440px) {
  .slider-button--prev {
    left: -35px;
  }
  .slider-button--next {
    right: -35px;
  }
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--brand4);
  opacity: 1;
  margin: 0 !important;
  margin-right: 20px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--black);
}

.wrapper {
  max-width: 1352px;
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .wrapper {
    padding: 0 26px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--accent1);
  border: 1px solid;
  border-color: var(--accent1);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 1.1em 2em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  box-shadow: none;
  position: relative;
  border-radius: 70px;
  max-width: max-content;
}
.button--light {
  background-color: transparent;
  border-color: var(--black);
}
.button--icon {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1;
}
.button--small {
  padding: 1em 2em;
  font-size: 14px !important;
  font-weight: 600;
}
.button:hover, .button:focus {
  opacity: 0.7;
}
.button:active {
  opacity: 0.3;
}
@media (max-width: 1440px) {
  .button {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .button {
    font-size: 12px;
  }
  .button--icon {
    gap: 8px !important;
  }
  .button--icon svg {
    width: 18px;
  }
}

.title {
  font-size: 50px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--black);
  margin: 0;
  margin-bottom: 0.6em;
}
@media (max-width: 1440px) {
  .title {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 28px;
  }
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  color: #828282;
  margin-bottom: 0.8em;
}
@media (max-width: 1440px) {
  .subtitle {
    font-size: 18px;
  }
}

.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}
.social-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: var(--brand4);
  position: relative;
}
.social-list a svg {
  pointer-events: none;
  position: absolute;
  scale: 0.9;
}
.social-list a:hover, .social-list a:active {
  opacity: 0.5;
}
.nav-button {
  box-shadow: none;
  transform: none;
  border: none;
  height: var(--elem-sz);
  width: var(--elem-sz);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
  width: 40px;
  height: 40px;
  background-color: var(--accent1);
  display: none;
}
.nav-button span {
  width: 20px;
  height: 2px;
  background-color: var(--black);
  display: block;
  pointer-events: none;
  transition: all 0.3s;
}
.nav-button span::before,
.nav-button span::after {
  content: "";
  width: inherit;
  height: inherit;
  background-color: var(--black);
  display: inherit;
  position: absolute;
  border-radius: inherit;
  pointer-events: initial;
  transition: initial;
}
.nav-button span:before {
  margin-top: -6px;
}
.nav-button span::after {
  margin-top: 6px;
}
.nav-button.open span {
  background-color: transparent;
  border-radius: 0;
}
.nav-button.open span:before {
  margin-top: 0;
  transform: rotate(45deg);
}
.nav-button.open span:after {
  margin-top: 0;
  transform: rotate(-45deg);
}
@media (max-width: 768px) {
  .nav-button {
    display: flex;
  }
}

.icon {
  width: 35px;
  height: 35px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  margin-right: 12px;
  background-size: contain;
}
.icon--achievement {
  background-image: url(../img/icons/achievement.svg);
}
.icon--stopwatch {
  background-image: url(../img/icons/stopwatch.svg);
}
.icon--technology {
  background-image: url(../img/icons/technology.svg);
}
.icon--microbe {
  background-image: url(../img/icons/microbe.svg);
}
.icon--tubes {
  background-image: url(../img/icons/tubes.svg);
}
.icon--tubes-2 {
  background-image: url(../img/icons/tubes-2.svg);
}
.icon--uzi {
  background-image: url(../img/icons/uzi.svg);
}
.icon--heart {
  background-image: url(../img/icons/heart.svg);
}
.icon--stomach {
  background-image: url(../img/icons/stomach.svg);
}
.icon--microscope {
  background-image: url(../img/icons/microscope.svg);
}
@media (min-width: 1440px) {
  .icon {
    width: 40px;
    height: 40px;
  }
}

.navigation-mobile {
  display: none;
}
@media (max-width: 768px) {
  .navigation-mobile {
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  }
  .navigation-mobile .button {
    width: 50%;
    max-width: initial;
    padding: 13px 10px;
    border-radius: 8px 0 0 0;
  }
  .navigation-mobile .button:last-child {
    background-color: var(--white);
    border-radius: 0 8px 0 0;
  }
}

.header {
  background-color: var(--white);
  color: var(--black);
  padding: 10px 0 14px;
  position: relative;
  z-index: 99;
}
.header__top {
  display: flex;
  align-items: flex-start;
  grid-gap: 16px;
  margin-bottom: 23px;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.3s;
}
.header__top-item {
  font-size: 16px;
  line-height: 1.5;
  max-width: 320px;
}
.header__top-item span,
.header__top-item a {
  font-weight: 700;
  color: var(--brand2);
}
.header__top-item:nth-child(2) {
  text-align: left;
  margin: 0 auto;
}
.header__top-item:nth-child(3) {
  text-align: right;
}
.header__bottom {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 32px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.header__logo {
  max-width: 177px;
  width: 100%;
  margin-right: 66px;
}
.header__logo a {
  display: flex;
}
.header__logo img {
  object-fit: cover;
}
.header__buttons {
  max-width: max-content;
  display: flex;
  grid-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 0;
  margin-left: auto;
}
.header__buttons .button {
  flex-grow: 0;
  padding: 1em;
}
.header__search {
  border: none;
  width: 43px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px !important;
  background-color: var(--accent1);
}
@media (max-width: 1024px) {
  .header__top {
    display: none;
  }
  .header__logo {
    max-width: 140px;
    display: flex;
    align-items: center;
  }
}
@media (max-width: 930px) {
  .header__top {
    gap: 12px;
    margin-bottom: 24px;
  }
  .header__top-item {
    width: 100%;
    max-width: 635px;
    flex-grow: 2;
    text-align: initial !important;
    margin: 0 auto;
    font-size: 18px;
  }
  .header br {
    display: none;
  }
  .header__logo {
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .header__top {
    display: none;
  }
  .header__buttons {
    display: none;
  }
}
@media (max-width: 500px) {
  .header .social-list {
    display: none;
  }
}

.navigation {
  background-color: var(--brand1);
  color: var(--white);
  transition-duration: 0.3s;
  position: relative;
  z-index: 88;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  flex-wrap: wrap;
}
.navigation__list li {
  position: relative;
}
.navigation__link {
  padding: 21px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.3s;
  position: relative;
  gap: 12px;
}
.navigation__link:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #41e1bb;
  transition: all 0.3s;
  z-index: 2;
}
.navigation__link svg {
  display: block;
  width: 14px;
  height: 7px;
  transform: rotate(0);
  transition: all 0.3s;
}
.navigation__link svg path {
  transition: all 0.3s;
  stroke: var(--white);
}
.navigation__sublist {
  margin: 0;
  list-style: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 650px;
  height: 525px;
  padding: 45px 60px 50px;
  background: var(--white);
  color: var(--black);
  box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
  border-radius: 0px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 15px 42px;
  flex-wrap: wrap;
  transition: all 0.3s;
}
.navigation__sublist a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
  color: var(--black);
  text-transform: initial;
  padding: 0;
  position: relative;
  transition: all 0.3s;
}
.navigation__sublist a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: #41e1bb;
  transition: all 0.3s;
  z-index: 2;
}
.navigation__sublist a:hover, .navigation__sublist a:focus {
  color: #41e1bb;
}
.navigation__sublist a:hover:before, .navigation__sublist a:focus:before {
  content: "";
  width: 100%;
}
.navigation .mobile-elements {
  display: none;
}
@media (min-width: 769px) {
  .navigation li:hover .navigation__link, .navigation li:focus .navigation__link {
    color: #41e1bb;
  }
  .navigation li:hover .navigation__link svg, .navigation li:focus .navigation__link svg {
    transform: rotate(180deg);
  }
  .navigation li:hover .navigation__link svg path, .navigation li:focus .navigation__link svg path {
    stroke: #41e1bb;
  }
  .navigation li:hover .navigation__link:before, .navigation li:focus .navigation__link:before {
    content: "";
    width: 100%;
  }
  .navigation__sublist {
    opacity: 0;
    pointer-events: none;
  }
  .navigation li:hover > .navigation__sublist, .navigation li:focus > .navigation__sublist {
    opacity: 1;
    pointer-events: initial;
  }
}
@media (max-width: 1024px) {
  .navigation__link {
    font-size: 14px;
    padding: 14px 0;
    gap: 8px;
  }
  .navigation__sublist {
    width: 525px;
    height: 465px;
    padding: 16px 32px 42px;
    gap: 12px 26px;
  }
  .navigation__sublist a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .navigation {
    left: -100%;
    position: absolute;
    top: 63px;
    width: 100%;
    height: calc(100vh - 63px);
    overflow: auto;
    padding-bottom: 43px;
  }
  .navigation .wrapper {
    padding: 0;
  }
  .navigation ul {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .navigation li {
    width: 100%;
    max-width: 100%;
    border-bottom: 1px solid;
    border-color: var(--brand2);
    position: relative;
  }
  .navigation a {
    font-size: 18px;
    padding: 20px 10px;
    justify-content: center;
    cursor: pointer;
  }
  .navigation a:before {
    display: none;
  }
  .navigation .navigation__sublist {
    background: var(--brand2);
    position: initial;
    margin: 0;
    padding: 0;
    width: initial;
    height: 0;
    overflow: hidden;
    border-radius: 0;
    transition: all 0.3s;
  }
  .navigation .navigation__sublist li {
    border-color: var(--brand3);
  }
  .navigation .navigation__sublist a {
    font-size: 14px;
    padding: 16px 10px;
    justify-content: center;
    color: var(--white);
    display: flex;
    text-transform: uppercase;
  }
  .navigation .navigation__sublist a:before {
    display: none;
  }
  .navigation .mobile-elements {
    display: block;
  }
  .navigation .mobile-elements .wrapper {
    padding: 20px 26px;
  }
  .navigation .mobile-elements ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .navigation .mobile-elements li {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 1em;
    align-items: center;
    text-align: center;
  }
  .navigation .mobile-elements li:last-child {
    margin-bottom: 0;
  }
  .navigation .mobile-elements li span {
    font-weight: 700;
    margin-bottom: 1em;
  }
  .navigation .mobile-elements li a {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    padding: 0;
    font-size: 23px;
  }
  .navigation .mobile-elements li a:last-child {
    margin-bottom: 0;
  }
  .navigation .mobile-elements__office-hours {
    border-top: 1px solid #ffffff !important;
    padding: 1em 0;
    border-bottom: 1px solid #ffffff !important;
    margin: 0;
  }
  .navigation .mobile-elements__office-hours span {
    margin-bottom: 0 !important;
  }
}

.hero {
  position: relative;
}

.slider-hero .decorate {
  display: none;
}
.slider-hero .wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.slider-hero__item {
  background-color: var(--brand6);
  min-height: 680px;
}
.slider-hero__details {
  padding: 50px 0 80px;
  position: relative;
  z-index: 2;
}
.slider-hero__image {
  position: absolute;
  right: 0;
  width: auto;
  height: 100%;
  bottom: 0;
}
.slider-hero__image img {
  display: block;
  width: 100%;
}
.slider-hero__image {
  height: 100%;
}
.slider-hero__image img {
  height: 100%;
  object-fit: cover;
}
.slider-hero__description {
  margin: 0;
  font-size: 24px;
  color: var(--black);
  margin-bottom: 35px;
  margin-right: 10%;
}
.slider-hero__description--small {
  font-size: 18px;
}
.slider-hero__description strong {
  text-decoration: underline;
  font-weight: 700;
}
.slider-hero__title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 1.1;
  color: var(--black);
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.slider-hero__title--small {
  font-size: 55px;
}
.slider-hero__price {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--black);
  padding: 14px 18px;
  padding-left: 25px;
  background: var(--white);
  border-radius: 85px 70px 70px 0;
  max-width: max-content;
  margin-left: 80px;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}
.slider-hero__price del {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #41e1bb;
  padding-right: 10px;
}
.slider-hero__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 32px;
  max-width: 215px;
  position: absolute;
  left: 99%;
  top: 114px;
}
.slider-hero__list li {
  font-size: 18px;
  line-height: 1.3;
  position: relative;
  padding: 18px 43px;
  background: #41E1BB;
  border-radius: 30px 70px 70px 0px;
  color: #006F68 !important;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.slider-hero__list li .icon {
  flex-shrink: 0;
  position: absolute;
  left: -12px;
}
.slider-hero__list li span b {
  font-weight: 700;
}
.slider-hero__list--long {
  max-width: 390px;
}
.slider-hero__list--long li {
  font-size: 16px;
}
.slider-hero__list--midle {
  max-width: 280px;
}
.slider-hero__pagination {
  bottom: 55px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.slider-hero__pagination .swiper-pagination {
  position: initial;
  margin-right: auto;
  max-width: max-content;
}
.slider-hero__pagination .swiper-pagination .wrapper {
  display: block;
}
.slider-hero__pagination .swiper-pagination .swiper-pagination-bullet {
  margin: 0;
  margin-right: 20px;
}
.slider-hero .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--white);
  opacity: 1;
}
.slider-hero .swiper-pagination-bullet-active {
  background-color: var(--black);
}
.slider-hero .decorate {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 9px;
  background-color: transparent;
  flex-shrink: 0;
  padding: initial;
  max-width: initial;
}
.slider-hero .decorate--one {
  width: 134px;
  height: 29px;
  background-image: url(../img/icons/diagram-1.svg);
}
.slider-hero .decorate--two {
  width: 87px;
  height: 32px;
  background-image: url(../img/icons/diagram-2.svg);
}
.slider-hero .wrapper {
  grid-template-columns: 455px 1fr;
}
@media (max-width: 1440px) {
  .slider-hero .wrapper {
    grid-template-columns: 1fr;
  }
  .slider-hero__item {
    min-height: 720px;
  }
  .slider-hero__details {
    display: flex;
    flex-direction: column;
  }
  .slider-hero__price {
    margin: 0 auto 0 10%;
  }
  .slider-hero__title {
    max-width: 455px;
    font-size: 55px;
    text-shadow: 3px -2px 0px #d4fff6;
  }
  .slider-hero__description {
    max-width: 455px;
    height: 99px;
    min-height: initial;
    overflow: scroll;
    text-shadow: 1px -1px 0px #d4fff6;
  }
  .slider-hero .button {
    margin-bottom: 40px;
  }
  .slider-hero__list {
    position: initial;
    max-width: initial;
    width: initial;
    display: flex;
    gap: 32px;
    margin: 0;
    order: 100;
  }
  .slider-hero__list li {
    margin: 0;
    padding-left: 40px;
    max-width: 300px;
    padding: 22px 35px;
  }
  .slider-hero__image {
    height: 626px;
    right: -120px;
    bottom: 120px;
  }
  .slider-hero__item--1 .slider-hero__title {
    font-size: 50px;
  }
  .slider-hero__item--4 .slider-hero__title {
    font-size: 50px;
  }
  .slider-hero__item--2 .slider-hero__image {
    right: 0;
    bottom: 170px;
    height: 530px;
  }
  .slider-hero__item--3 .slider-hero__image {
    right: -40px;
    bottom: 150px;
    height: 553px;
  }
  .slider-hero__item--4 .slider-hero__image {
    right: 40px;
    bottom: 147px;
    height: 589px;
  }
  .slider-hero__item--4 .slider-hero__title {
    max-width: 616px;
  }
  .slider-hero__item--4 .slider-hero__description {
    max-width: 590px;
  }
  .slider-hero__pagination {
    bottom: 35px;
  }
  .slider-hero__pagination .wrapper {
    max-width: max-content;
  }
}
@media (max-width: 1024px) {
  .slider-hero__image {
    height: 493px;
    right: -200px;
  }
  .slider-hero .slider-hero__item {
    min-height: 710px;
  }
  .slider-hero__item--2 .slider-hero__image {
    right: -100px;
    bottom: 200px;
  }
  .slider-hero__item--3 .slider-hero__image {
    right: -120px;
    bottom: 180px;
  }
  .slider-hero__item--4 .slider-hero__image {
    right: -41px;
    bottom: 170px;
  }
  .slider-hero__pagination {
    bottom: 25px;
  }
}
@media (max-width: 768px) {
  .slider-hero__item {
    min-height: initial;
    height: 770px;
  }
  .slider-hero .wrapper {
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 0;
    padding-top: 60px;
  }
  .slider-hero__details {
    display: block;
    padding: 0 26px;
  }
  .slider-hero__list {
    position: absolute;
    width: calc(100% - 32px);
    grid-template-columns: 1fr;
    gap: 16px;
    order: initial;
    left: calc(100% + 24px);
    top: 0;
    display: grid;
  }
  .slider-hero__image {
    position: absolute;
    grid-column: span 2;
    width: 100% !important;
    height: 458px !important;
    top: initial !important;
    left: initial !important;
    right: initial !important;
    bottom: 0 !important;
  }
  .slider-hero .button {
    margin-bottom: 0;
  }
  .slider-hero__description {
    max-width: 100%;
    margin: 0;
    margin-bottom: 24px;
  }
  .slider-hero__title {
    font-size: 40px !important;
    margin-bottom: 10px;
  }
  .slider-hero__item--1 .slider-hero__title {
    font-size: 36px !important;
  }
  .slider-hero__description {
    font-size: 16px !important;
  }
  .slider-hero__price {
    height: initial;
    font-size: 20px;
    margin-bottom: 8px;
  }
  .slider-hero__price del {
    font-size: inherit;
    padding-right: 6px;
  }
  .slider-hero__list li {
    padding: 16px;
    padding-left: 35px;
  }
  .slider-hero__list--long li {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .slider-hero .wrapper {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0;
  }
  .slider-hero__price {
    height: 50px;
    font-size: 23px;
    margin: 0;
  }
  .slider-hero__description {
    font-size: 18px !important;
  }
  .slider-hero__list {
    position: initial;
    width: 100%;
    max-width: max-content;
    left: auto;
    right: auto;
    top: auto;
    bottom: 0;
    order: 111;
    padding-left: 20px;
    gap: 32px;
    display: none;
  }
  .slider-hero__list li {
    padding: initial;
    padding-left: 45px;
    font-size: 20px;
    background-color: transparent;
  }
  .slider-hero__image {
    position: initial;
    grid-column: initial;
    width: 100%;
    height: 325px !important;
  }
  .slider-hero__item {
    height: initial !important;
    padding-bottom: 95px;
  }
  .slider-hero__details {
    display: flex;
    order: 111;
    margin-top: -20px;
  }
  .slider-hero__description {
    height: initial;
  }
  .slider-hero__title {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .slider-hero__title {
    font-size: 36px !important;
  }
  .slider-hero .decorate--one {
    width: 100px;
    height: 20px;
  }
  .slider-hero .decorate--two {
    width: 70px;
    height: 23px;
  }
}

.benefits__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 80px 32px;
}
.benefits__icon {
  background: var(--white);
  box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 25px;
  position: relative;
}
.benefits__icon svg {
  position: absolute;
}
.benefits__text {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  color: var(--black);
  max-width: 180px;
  display: inline-block;
}
@media (max-width: 1440px) {
  .benefits__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
  }
  .benefits__icon {
    width: 60px;
    height: 60px;
    margin-bottom: 12px;
  }
  .benefits__text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .benefits__list {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .benefits__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
  }
}
@media (max-width: 650px) {
  .benefits__list {
    grid-template-columns: 1fr;
  }
  .benefits__item {
    display: grid;
    align-items: center;
    gap: 24px;
    grid-template-columns: 40px 1fr;
  }
}

.main-directions {
  background: #f5f5f5;
}
.main-directions__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  margin-bottom: 50px;
}
.main-directions__card {
  background-color: #fff;
}
.main-directions__card {
  padding: 45px;
  padding-bottom: 55px;
  max-width: 100%;
  width: 100%;
  position: relative;
}
.main-directions__content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.main-directions__image {
  position: absolute;
  right: 16px;
}
.main-directions__item-name {
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  margin: 0;
  margin-bottom: 25px;
  color: #060606;
  position: relative;
  z-index: 2;
}
.main-directions__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.3;
  color: #828282;
  margin-bottom: 25px;
  position: relative;
  z-index: 2;
  max-width: 160px;
}
.main-directions__card--mod {
  background-color: var(--brand4);
}
.main-directions__card--mod .main-directions__text {
  color: var(--white);
}
.main-directions__card--mod .main-directions__item-name {
  color: var(--white);
}
@media (max-width: 1440px) {
  .main-directions__card {
    padding: 25px 30px;
    padding-bottom: 40px;
  }
  .main-directions__content {
    max-width: 100%;
  }
  .main-directions__image {
    position: initial;
    order: -1;
  }
  .main-directions__image img {
    max-height: 200px;
  }
  .main-directions__item-name {
    margin-bottom: 10px;
  }
  .main-directions__text {
    font-size: 16px;
    max-width: initial;
  }
  .main-directions__item-name {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .main-directions__list {
    grid-template-columns: 1fr;
  }
  .main-directions__item-name {
    font-size: 25px;
  }
}
@media (max-width: 425px) {
  .main-directions .button {
    width: 100%;
    max-width: 100%;
  }
}
.main-directions .description {
  max-width: 1090px;
  font-size: 18px;
  color: #828282;
}
.main-directions .description p {
  margin-top: 0;
}
.main-directions .description p:last-child {
  margin-bottom: 0;
}
.main-directions .description .lead {
  font-weight: 600;
  font-size: 24px;
  color: var(--black);
}

.service-preview__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 32px;
}
.service-preview__link {
  position: relative;
  background: var(--white);
  box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
  border-radius: 55px 70px 70px 0;
  min-height: 80px;
  padding: 20px 32px;
  padding-left: 140px;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  overflow: hidden;
}
.service-preview__icon {
  background-color: #41e1bb;
  border-radius: 55px 70px 70px 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
}
.service-preview__icon img {
  position: absolute;
}
.service-preview__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.1;
  display: flex;
  align-items: center;
  color: var(--black);
}
.service-preview .subtitle {
  margin-bottom: 2em;
}
@media (max-width: 1440px) {
  .service-preview__list {
    grid-template-columns: 1fr 1fr;
    gap: 23px;
  }
  .service-preview__link {
    min-height: 65px;
    padding: 10px 32px;
    padding-left: 110px;
  }
  .service-preview__icon {
    width: 90px;
  }
  .service-preview__icon img {
    position: absolute;
    height: 32px;
  }
}
@media (max-width: 768px) {
  .service-preview__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 425px) {
  .service-preview .button {
    width: 100%;
    max-width: 100%;
  }
  .service-preview__icon {
    width: 65px;
  }
  .service-preview__link {
    padding-left: 80px;
  }
  .service-preview__text {
    font-size: 16px;
  }
}

.promo {
  padding: 32px 0 35px;
  background-color: #018079;
  color: var(--white);
}
.promo .wrapper {
  display: grid;
  grid-template-columns: 1fr 530px;
  gap: 32px;
  align-items: center;
}
.promo .title {
  color: inherit;
  margin: 0;
  font-size: 35px;
}
.promo .title + .subtitle {
  margin-top: 1em;
  margin-bottom: 0;
}
.promo .subtitle {
  color: inherit;
}
.promo__call {
  background: #41E1BB;
  border-radius: 110px 200px 200px 0;
  padding: 54px 82px 57px;
}
.promo__call--mod {
  padding: 34px 74px 37px 82px;
}
.promo a[href^="tel:"] {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.1;
  display: block;
  margin-bottom: 0.57em;
  color: var(--white);
}
@media (max-width: 1440px) {
  .promo .wrapper {
    grid-template-columns: 1fr 450px;
  }
  .promo a[href^="tel:"] {
    font-size: 30px;
  }
  .promo__call {
    padding: 40px 65px 45px;
  }
}
@media (max-width: 1024px) {
  .promo .wrapper {
    grid-template-columns: 1fr 360px;
  }
  .promo a[href^="tel:"] {
    font-size: 26px;
  }
  .promo .button {
    height: 50px;
    width: 100%;
    max-width: max-content;
    padding: 25px 35px;
  }
  .promo__call {
    padding: 32px 45px;
  }
}
@media (max-width: 768px) {
  .promo .wrapper {
    grid-template-columns: 1fr;
  }
  .promo__call {
    display: flex;
    align-items: center;
    gap: 32px;
    max-width: 100%;
    width: 100%;
  }
  .promo a[href^="tel:"] {
    margin-bottom: 0;
  }
}
@media (max-width: 650px) {
  .promo__call {
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .promo a[href^="tel:"] {
    font-size: 22px;
  }
  .promo__call {
    padding: 26px 35px;
    width: 100%;
    max-width: 100%;
  }
}

.leading-specialists {
  overflow: hidden;
}
.leading-specialists .slider {
  position: relative;
  padding-bottom: 75px;
}
.leading-specialists .swiper {
  overflow: initial !important;
}
.leading-specialists .swiper-slide {
  transition: all 0.3s;
  opacity: 0.2;
}
.leading-specialists .swiper-slide-active {
  opacity: 1;
}
.leading-specialists .grid {
  display: grid;
  gap: 115px;
  grid-template-columns: 447px 1fr;
  background-color: #ffffff;
  align-items: flex-start;
}
.leading-specialists .left {
  position: relative;
}
.leading-specialists .photo {
  max-width: 450px;
  max-height: 600px;
  background: #dbfff6;
  border-radius: 0 60px 0 0;
  overflow: hidden;
}
.leading-specialists .photo img {
  display: block;
}
.leading-specialists .name {
  display: block;
  position: absolute;
  right: -60px;
  bottom: -60px;
  max-width: 315px;
  background-color: var(--white);
  border-radius: 0 200px 200px 165px;
  padding: 20px 40px;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.3;
  color: #060606;
  filter: drop-shadow(0px 6px 20px rgba(101, 104, 108, 0.1));
}
.leading-specialists .text {
  font-size: 18px;
  color: #828282;
  margin-top: 62px;
  margin-bottom: 55px;
}
.leading-specialists .text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.leading-specialists .text ul li {
  margin-bottom: 1.7em;
}
.leading-specialists .text strong {
  font-weight: 600;
  color: var(--black);
}
.leading-specialists .experience {
  background-color: #41e1bb;
  border-radius: 0 200px 200px 200px;
  font-size: 18px;
  line-height: 1;
  padding: 13px 20px;
  max-width: max-content;
  display: flex;
  align-items: center;
  position: absolute;
  left: -18px;
  top: 0;
  color: var(--white);
}
.leading-specialists .right {
  position: relative;
}
.leading-specialists .buttons {
  display: grid;
  gap: 24px;
  grid-template-columns: auto auto;
  justify-content: flex-start;
}
@media (max-width: 1440px) {
  .leading-specialists .grid {
    gap: 90px;
    grid-template-columns: 1fr 2fr;
  }
  .leading-specialists .text {
    padding-right: 50px;
  }
  .leading-specialists .text ul li {
    margin-bottom: 1em;
  }
}
@media (max-width: 1024px) {
  .leading-specialists .grid {
    grid-template-columns: 1fr 3fr;
    gap: 32px;
  }
  .leading-specialists .text {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .leading-specialists .name {
    max-width: 100%;
    padding: 15px 25px;
    font-size: 18px;
    position: initial;
    background-color: transparent;
    border-radius: initial;
    padding-left: 0;
    padding-right: 0;
  }
  .leading-specialists .slider-button {
    display: none;
  }
}
@media (max-width: 650px) {
  .leading-specialists .grid {
    grid-template-columns: 1fr;
    gap: 12px;
    margin-top: 32px;
  }
  .leading-specialists .photo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }
  .leading-specialists .photo img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-position: top center;
  }
  .leading-specialists .name {
    padding-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
  }
  .leading-specialists .experience {
    background-color: transparent;
    border-radius: initial;
    font-size: initial;
    line-height: inherit;
    padding: initial;
    max-width: initial;
    align-items: initial;
    position: initial;
    left: initial;
    top: initial;
    color: inherit;
    font-weight: 700;
    display: block;
    margin-bottom: 1em;
  }
  .leading-specialists .text {
    padding: 0;
    margin: 0;
    max-height: 320px;
    overflow: scroll;
    margin-bottom: 32px;
  }
  .leading-specialists .buttons {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .leading-specialists .buttons .button {
    width: 100%;
    max-width: 100%;
  }
}

.ratings {
  background-color: #dbfff6;
  padding-bottom: 0;
}
.ratings__container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.ratings__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ratings__item {
  background: #ffffff;
  padding: 30px 48px 25px 25px;
  border-radius: 40px 100px 100px 0px;
  max-width: 304px;
  width: 100%;
  margin-bottom: 32px;
  position: absolute;
}
.ratings__item:first-child {
  top: 37px;
  left: -117px;
}
.ratings__item:nth-child(2) {
  bottom: 131px;
  left: -229px;
}
.ratings__item:nth-child(3) {
  top: 37px;
  right: -170px;
}
.ratings__item:last-child {
  bottom: 131px;
  right: -281px;
}
.ratings__top-details {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.ratings__top-details span {
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #000000;
}
.ratings__stars {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 24px);
  gap: 3px;
  margin-left: 24px;
}
.ratings__image img {
  display: block;
}
.ratings__logo {
  height: 37px;
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .ratings__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    max-width: initial;
    width: initial;
    align-items: flex-end;
  }
  .ratings__list {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr;
    align-items: flex-start;
  }
  .ratings__item {
    position: initial;
    padding: 22px 46px 22px 22px;
    margin-bottom: 0;
    max-width: max-content;
    display: flex;
    align-items: center;
  }
  .ratings__top-details {
    margin-bottom: 0;
  }
  .ratings__logo {
    margin-left: 24px;
  }
}
@media (max-width: 1200px) {
  .ratings {
    padding-bottom: 60px;
  }
  .ratings__container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .ratings__image {
    margin: 0 auto;
  }
  .ratings__list {
    gap: 16px 32px;
    grid-template-columns: auto auto;
    align-items: flex-start;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .ratings__item {
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .ratings__top-details {
    margin-bottom: 12px;
  }
  .ratings__logo {
    margin-left: 0;
  }
}
@media (max-width: 680px) {
  .ratings__container {
    display: block;
  }
  .ratings__list {
    grid-template-columns: 1fr;
  }
  .ratings__item {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: self-start;
    padding: 22px;
  }
  .ratings__top-details {
    margin-bottom: 12px;
    margin-right: 24px;
    flex-shrink: 0;
  }
  .ratings__top-details span {
    font-size: 27px;
  }
  .ratings__logo {
    flex-shrink: 0;
    height: initial;
  }
}

@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
@keyframes show-btn {
  0% {
    opacity: 0;
    bottom: -170px;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    bottom: 20px;
    transform: scale(1);
  }
}
.mob-menu-open {
  overflow: hidden;
}
.mob-menu-open .navigation {
  left: 0;
}
.mob-menu-open .header {
  position: sticky;
  width: 100%;
  top: 0;
}

@media (max-width: 768px) {
  .active .navigation__sublist {
    height: initial;
  }
}
.active .navigation__link {
  color: #41e1bb;
}
.active .navigation__link svg {
  transform: rotate(180deg);
}
.active .navigation__link svg path {
  stroke: #41e1bb;
}
.active .navigation__link:before {
  content: "";
  width: 100%;
}

@media (max-width: 768px) {
  .menu-fixed .header {
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: show-header;
    animation-duration: 0.4s;
    border-bottom: 1px solid var(--col-5);
  }
  .menu-fixed .header__top {
    overflow: hidden;
    height: 0;
    visibility: hidden;
    margin: 0;
  }
}
@media (min-width: 768px) {
  .menu-fixed .navigation {
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: show-header;
    animation-duration: 0.4s;
    border-bottom: 1px solid var(--col-5);
  }
}

@media (max-width: 1350px) {
  .hide-1350 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
}
@media (max-width: 930px) {
  .hide-930 {
    display: none;
  }
}
@media (max-width: 900px) {
  .hide-900 {
    display: none;
  }
}
@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }
}