@charset "utf-8";

@import "site/site";
@import "components/components";
@import "sections/sections";

@keyframes show-header {
  0% {
    opacity: 0;
    top: -70px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes show-btn {
  0% {
    opacity: 0;
    bottom: -170px;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    bottom: 20px;
    transform: scale(1);
  }
}

.mob-menu-open {
  overflow: hidden;

  .navigation {
    left: 0;
  }

  .header {
    position: sticky;
    width: 100%;
    top: 0;
  }
}

.active {
  @media (max-width: 768px) {
    .navigation__sublist {
      height: initial;
    }
  }

  .navigation__link {
    color: #41e1bb;

    svg {
      transform: rotate(180deg);

      path {
        stroke: #41e1bb;
      }
    }

    &:before {
      content: "";
      width: 100%;
    }
  }
}

@media (min-width: 769px) {
  .menu-fixed .navigation {
    position: fixed;
    top: 0;
    width: 100%;
    animation-name: show-header;
    animation-duration: 0.4s;
    border-bottom: 1px solid var(--col-5);
  }
}

.menu-fixed {
  @media (max-width: 768px) {
    .header {
      position: fixed;
      top: 0;
      width: 100%;
      animation-name: show-header;
      animation-duration: 0.4s;
      border-bottom: 1px solid var(--col-5);
      box-shadow: 0 0 10px -3px;

      &__top {
        overflow: hidden;
        height: 0;
        visibility: hidden;
        margin: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .mob-menu-open.menu-fixed .navigation {
    position: absolute;
  }
}

@media (max-width: 1350px) {
  .hide-1350 {
    display: none;
  }
}

@media (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
}

@media (max-width: 930px) {
  .hide-930 {
    display: none;
  }
}

@media (max-width: 900px) {
  .hide-900 {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }
}
