@charset "utf-8";

@import "site/site";
@import "components/components";
@import "sections/sections";

.mob-menu-open {
  .navigation {
    top: 0;
  }
}

.active {
  .navigation__sublist {
    height: initial;
  }
  .navigation__link {
    color: #41e1bb;

    svg {
      transform: rotate(180deg);
      path {
        stroke: #41e1bb;
      }
    }

    &:before {
      content: "";
      width: 100%;
    }
  }
}


@media (max-width: 1350px) {
  .hide-1350 {
    display: none;
  }

}

@media (max-width: 1024px) {
  .hide-1024 {
    display: none;
  }
}

@media (max-width: 930px) {
  .hide-930 {
    display: none;
  }

}

@media (max-width: 900px) {
  .hide-900 {
    display: none;
  }
}

@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }

}
