html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  line-height: 1.4;
  background-color: var(--white);
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: var(--fsz);
  color: var(--black);
  letter-spacing: 0.01em;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  box-shadow: none;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: none !important;
}
