:root {
  --brand1: #005F5A;
  --brand2: #018079;
  --brand3: #00716B;
  --brand4: #41E1BB;
  --brand5: #87EFD6;
  --brand6: #DBFFF6;

  --accent1: #FFC700;
  --accent2: #FFC700;
  --accent3: #A82680;

  --Black: #000000;
  --Gray1: #828282;
  --gray2: #E4E4E4;
  --gray3: #F5F5F5;
  --White: #ffffff;

  --fsz: 18px;
}
