.benefits {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px 32px;
  }

  &__icon {
    background: var(--White);
    box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 25px;
    position: relative;

    svg {
      position: absolute;
    }
  }

  &__text {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: var(--Black);
    max-width: 180px;
    display: inline-block;
  }

  @media (max-width: 1440px) {
    &__list {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 35px;
    }

    &__icon {
      width: 60px;
      height: 60px;
      margin-bottom: 12px;
    }

    &__text {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    &__list {
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    &__icon {
      width: 40px;
      height: 40px;
      margin-bottom: 8px;
    }
  }

  @media (max-width: 650px) {
    &__list {
      grid-template-columns: 1fr;
    }

    &__item {
      display: grid;
      align-items: center;
      gap: 24px;
      grid-template-columns: 40px 1fr;
    }
  }
}
