.catalog {
  background-color: var(--gray3);

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: 4fr 8fr;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.catalog-nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__link {
    &--mod {
      position: relative;
      background: var(--White);
      box-shadow: 0px 6px 20px rgb(101 104 108 / 10%);
      border-radius: 55px 70px 70px 0;
      min-height: 80px;
      padding: 20px 32px;
      padding-left: 140px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      overflow: hidden;
    }
  }
  &__icon {
    background-color: #41e1bb;
    border-radius: 55px 70px 70px 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
  }
  &__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 0.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      text-transform: uppercase;
      color: var(--Black);
      transition: color 0.3s;

      &:hover {
        color: var(--brand2);
      }
    }
  }
  .accordion {
    border: 2px solid #ffffff;
    border-radius: 30px;
    border-top: 0;
    overflow: hidden;
  }

  .active + .accordion__body {
    padding: 23px 45px 50px 55px;
  }
}

.catalog-preview {
  background: #ffffff;
  border-radius: 0 60px 60px 60px;
  padding: 35px 55px 50px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 16px;

  &--long {
    grid-template-columns: 6fr 2fr;
  }

  &__hgroup {
    display: grid;
    gap: 16px;
    align-items: flex-start;
    grid-template-columns: 110px 1fr;
  }

  &__id {
    background: #41e1bb;
    border-radius: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    padding: 12px;
  }

  &__title {
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    color: var(--Black);
    margin-bottom: 0.2em;
  }
  &__desc {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: var(--Black);
  }
  &__price {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: var(--Black);
    padding: 20px 25px;
    background: #dbfff6;
    border-radius: 0px 60px 60px 30px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    max-width: 100%;

    strong {
      font-weight: 700;
      font-size: 24px;
    }
  }
}

@media (max-width: 1350px) {
  .catalog-preview {
    grid-template-columns: 1fr;
  }
  .catalog-preview__left {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .catalog-preview__price {
    margin-right: 16px;
    margin-bottom: 0;
  }
  .catalog-preview {
    padding: 35px 55px 25px;
  }
  .catalog-preview__price {
    font-size: 16px;
    padding: 15px 25px;
  }
  .catalog-preview__price strong {
    font-size: 18px;
  }
  .catalog-nav__sublist a {
    font-size: 16px;
  }
  .accordion__button--catalog span {
    font-size: 16px;
  }
  .catalog-nav__icon {
    width: 100px;
  }
  .accordion__button--catalog {
    padding-left: 120px;
  }
  .catalog-nav .active + .accordion__body {
    padding: 35px 40px;
  }
}

@media (max-width: 1000px) {
  .catalog__grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .catalog-preview {
    padding: 25px 55px 45px;
  }
  .catalog-preview__id {
    font-size: 14px;
    max-width: max-content;
    padding: 8px 12px;
    margin-bottom: 0.5em;
  }
  .catalog-preview__hgroup {
    gap: 0;
    grid-template-columns: 1fr;
  }
  .catalog-preview__title {
    font-size: 23px;
  }
  .catalog-preview__price {
    padding: 15px 20px 15px 10px;
  }
}

@media (max-width: 550px) {
  .catalog-preview {
    border-radius: 5%;
    padding: 16px 20px;
    &__left {
      display: block;
    }
    &__price {
      max-width: 100%;
      margin: 0;
      margin-bottom: 16px;
    }
    & .button {
      max-width: 100%;
    }
    &__desc {
      font-size: 16px;
    }
  }

  .catalog-nav .active + .accordion__body {
    padding: 20px;
  }
}
