.certificates {
  padding-bottom: 16px;
  background-color: var(--gray3);
  &__link {
    display: block;
    max-width: 305px;
    margin-bottom: 20px;

    img {
      display: block;
      // max-height: 423px;
      // max-width: 305px;
      // object-fit: cover;
    }
  }
  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: var(--Black);
    padding-right: 32px;
  }
  .wrapper {
    position: relative;
  }
  .swiper {
    padding-bottom: 70px;
  }

  @media (max-width: 550px) {
    &__link {
      margin: 0 auto;
      margin-bottom: 12px;
    }
    &__description {
      text-align: center;
      padding: 0;
    }
  }
}
