.certificates {
  background-color: var(--gray3);
  &__link {
    display: block;
    max-width: 305px;
    margin-bottom: 20px;

    img {
      display: block;
    }
  }
  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    padding-right: 32px;
  }
  .wrapper {
    position: relative;
  }
  .swiper {
    padding-bottom: 70px;
  }
}
