.header {
  background-color: var(--White);
  color: var(--Black);
  padding: 10px 0 0;
  position: relative;
  z-index: 99;

  &__top {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 330px auto 330px;
    justify-content: space-between;
    grid-gap: 16px;
    margin-bottom: 23px;
    flex-wrap: wrap;
    transition: all 0.3s;

    svg {
      margin-right: 4px;
    }
  }

  &__top-item {
    font-size: 16px;
    line-height: 1.5;
    // max-width: 320px;

    span,
    a {
      font-weight: 700;
      color: var(--brand2);
    }

    &:nth-child(2) {
      text-align: left;
      margin: 0 auto;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }

  &__bottom {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 32px;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    grid-template-columns: 177px auto 435px 43px;
    padding-bottom: 14px;
  }

  &__logo {
    // max-width: 177px;
    // width: 100%;
    // margin-right: 66px;

    a {
      display: flex;
    }

    img {
      object-fit: contain;
      flex-grow: 0;
    }
  }

  &__buttons {
    max-width: max-content;
    display: flex;
    grid-gap: 20px;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 0;
    margin-left: auto;

    .button {
      flex-grow: 0;
      padding: 1em;
    }
  }

  &__search {
    border: none;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px !important;
    background-color: var(--accent1);
  }

  @media (max-width: 1024px) {
    &__top {
      display: none;
    }
    &__bottom {
      grid-template-columns: 140px auto 360px 43px;
    }

    &__logo {
      // max-width: 140px;
      // display: flex;
      // align-items: center;
    }
  }

  @media (max-width: 930px) {
    &__top {
      gap: 12px;
      margin-bottom: 24px;
    }

    &__top-item {
      width: 100%;
      max-width: 635px;
      flex-grow: 2;
      text-align: initial !important;
      margin: 0 auto;
      font-size: 18px;
    }

    br {
      display: none;
    }

    &__logo {
      margin-right: auto;
    }
  }

  @media (max-width: 850px) {
    &__top {
      display: none;
    }
    &__bottom {
      grid-template-columns: 140px 1fr 43px 43px;
      justify-content: flex-start;
    }
    .social-list {
      margin-right: auto;
    }

    &__buttons {
      display: none;
    }
  }

  @media (max-width: 550px) {
    &__bottom {
      grid-template-columns: 140px 1fr 43px;
      justify-content: space-between;
    }
    .social-list {
      display: none;
    }
    &__search {
      margin-left: auto;
    }
  }
}
