.leading-specialists {
  overflow: hidden;
  .slider {
    position: relative;
    padding-bottom: 75px;
  }

  .swiper {
    overflow: initial !important;
  }
  .swiper-slide {
    transition: all 0.3s;
    opacity: 0.2;
    &-active {
      opacity: 1;
    }
  }
  .grid {
    display: grid;
    gap: 115px;
    grid-template-columns: 447px 1fr;
    background-color: #ffffff;
    align-items: flex-start;
  }

  .left {
    position: relative;
  }

  .photo {
    max-width: 450px;
    max-height: 600px;
    background: #dbfff6;
    border-radius: 0 60px 0 0;
    overflow: hidden;

    img {
      display: block;
    }
  }

  .name {
    display: block;
    position: absolute;
    right: -60px;
    bottom: -60px;
    max-width: 315px;
    background-color: var(--white);
    border-radius: 0 200px 200px 165px;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 23px;
    line-height: 1.3;
    color: #060606;
    filter: drop-shadow(0px 6px 20px rgba(101, 104, 108, 0.1));
  }

  .text {
    font-size: 18px;
    color: #828282;
    margin-top: 62px;
    margin-bottom: 55px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 1.7em;
      }
    }

    strong {
      font-weight: 600;
      color: var(--black);
    }
  }
  .experience {
    background-color: #41e1bb;
    border-radius: 0 200px 200px 200px;
    font-size: 18px;
    line-height: 1;
    padding: 13px 20px;
    max-width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    left: -18px;
    top: 0;
    color: var(--white);
  }
  .right {
    position: relative;
  }
  .buttons {
    display: grid;
    gap: 24px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
  }

  @media (max-width: 1440px) {
    .grid {
      gap: 90px;
      grid-template-columns: 1fr 2fr;
    }
    .text {
      padding-right: 50px;

      ul li {
        margin-bottom: 1em;
      }
    }
  }
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: 1fr 3fr;
      gap: 32px;
    }
    .text {
      font-size: 16px;
      margin-bottom: 32px;
    }
    .name {
      max-width: 100%;
      padding: 15px 25px;
      font-size: 18px;
      position: initial;
      background-color: transparent;
      border-radius: initial;
      padding-left: 0;
      padding-right: 0;
    }
    .slider-button {
      display: none;
    }
  }

  @media (max-width: 650px) {
    .grid {
      grid-template-columns: 1fr;
      gap: 12px;
      margin-top: 32px;
    }
    .photo {
      max-width: 150px;
      max-height: 150px;
      border-radius: 50%;

      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        object-position: top center;
      }
    }
    .name {
      padding-bottom: 0;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 22px;
    }
    .experience {
      background-color: transparent;
      border-radius: initial;
      font-size: initial;
      line-height: inherit;
      padding: initial;
      max-width: initial;
      align-items: initial;
      position: initial;
      left: initial;
      top: initial;
      color: inherit;
      font-weight: 700;
      display: block;
      margin-bottom: 1em;
    }
    .text {
      padding: 0;
      margin: 0;
      // max-height: 320px;
      // overflow: scroll;
      margin-bottom: 32px;
    }
    .buttons {
      grid-template-columns: 1fr;
      gap: 12px;
      .button {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
