.navigation {
  background-color: var(--brand1);
  color: var(--white);
  transition-duration: 0.3s;
  position: relative;
  z-index: 88;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    flex-wrap: wrap;

    li {
      position: relative;
    }
  }

  &__link {
    padding: 21px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    // gap: 12px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: #41e1bb;
      transition: all 0.3s;
      z-index: 2;
    }

    svg {
      display: block;
      width: 14px;
      height: 7px;
      transform: rotate(0);
      transition: all 0.3s;
      margin-left: 12px;

      path {
        transition: all 0.3s;
        stroke: var(--white);
      }
    }
  }

  &__sublist {
    margin: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 650px;
    height: 525px;
    padding: 45px 60px 50px;
    background: var(--white);
    color: var(--black);
    box-shadow: 0px 6px 20px rgb(101 104 108 / 10%);
    border-radius: 0px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px 42px;
    flex-wrap: wrap;
    transition: all 0.3s;

    a {
      font-weight: 500;
      font-size: 18px;
      line-height: 1;
      color: var(--black);
      text-transform: initial;
      padding: 0;
      position: relative;
      transition: all 0.3s;

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #41e1bb;
        transition: all 0.3s;
        z-index: 2;
      }

      &:hover,
      &:focus {
        color: #41e1bb;

        &:before {
          content: "";
          width: 100%;
        }
      }
    }
  }

  .mobile-elements {
    display: none;
  }

  @media (min-width: 769px) {
    li {
      &:hover,
      &:focus {
        .navigation__link {
          color: #41e1bb;

          svg {
            transform: rotate(180deg);

            path {
              stroke: #41e1bb;
            }
          }

          &:before {
            content: "";
            width: 100%;
          }
        }
      }
    }

    &__sublist {
      opacity: 0;
      pointer-events: none;
    }

    li {
      &:hover > .navigation__sublist,
      &:focus > .navigation__sublist {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  @media (max-width: 1024px) {
    &__link {
      font-size: 14px;
      padding: 14px 0;
      // gap: 8px;

      svg {
        margin-left: 8px;
      }
    }

    &__sublist {
      width: 525px;
      height: 465px;
      padding: 16px 32px 42px;
      gap: 12px 26px;
    }

    &__sublist a {
      font-size: 16px;
    }
  }

  @media (max-width: 768px) {
    left: -100%;
    position: absolute;
    top: 67px;
    width: 100%;
    height: calc(100vh - 67px);
    overflow: auto;
    padding-bottom: 43px;

    .wrapper {
      padding: 0;
    }

    ul {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }

    li {
      width: 100%;
      max-width: 100%;
      border-bottom: 1px solid;
      border-color: var(--brand2);
      position: relative;
    }

    a {
      font-size: 18px;
      padding: 20px 10px;
      justify-content: center;
      cursor: pointer;

      &:before {
        display: none;
      }
    }

    .navigation__sublist {
      background: var(--brand2);
      position: initial;
      margin: 0;
      padding: 0;
      width: initial;
      height: 0;
      overflow: hidden;
      border-radius: 0;
      transition: all 0.3s;

      li {
        border-color: var(--brand3);
      }
    }

    .navigation__sublist a {
      font-size: 14px;
      padding: 16px 10px;
      justify-content: center;
      color: var(--white);
      display: flex;
      text-transform: uppercase;

      &:before {
        display: none;
      }
    }

    .mobile-elements {
      display: block;
      .wrapper {
        padding: 20px 26px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 1em;
        align-items: center;
        text-align: center;
        &:last-child {
          margin-bottom: 0;
        }

        span {
          font-weight: 500;
          margin-bottom: 1em;
          font-size: 14px;
        }
        a {
          display: block;
          text-align: center;
          margin-bottom: 0.5em;
          padding: 0;
          font-size: 18px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
      &__office-hours {
        border-top: 1px solid #ffffff !important;
        padding: 1em 0;
        border-bottom: 1px solid #ffffff !important;
        margin: 0;
        span {
          margin-bottom: 0 !important;
        }
      }
    }
  }
}
