.promo {
  padding: 32px 0;
  background-color: #018079;
  color: #ffffff;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 530px;
    gap: 32px;
    align-items: center;
  }

  .title {
    color: inherit;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 0.7em;

    &--clear {
      margin: 0;
    }

  }

  .subtitle {
    color: inherit;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }

  &__call {
    background: #41E1BB;
    border-radius: 60px 200px 200px 0px;
    padding: 54px 82px 57px;

    &--mod {
      padding: 34px 74px 37px 82px;
    }
  }

  a[href^="tel:"] {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 0.57em;

    color: #FFFFFF;
  }

  .button {
    height: 60px;
    width: 100%;
    max-width: 313px;
  }

  @media (max-width: 1440px) {
    .wrapper {
      grid-template-columns: 1fr 450px;
    }

    .title {
      font-size: 32px;
    }

    .subtitle {
      font-size: 20px;
    }

    a[href^="tel:"] {
      font-size: 30px;
    }

    &__call {
      padding: 40px 65px 45px;
    }
  }

  @media (max-width: 1024px) {
    .wrapper {
      grid-template-columns: 1fr 360px;
    }

    a[href^="tel:"] {
      font-size: 26px;
    }

    .button {
      height: 50px;
      width: 100%;
      max-width: max-content;
      padding: 25px 35px
    }

    &__call {
      padding: 32px 45px;
    }
  }

  @media (max-width: 768px) {
    .wrapper {
      grid-template-columns: 1fr;
    }

    &__call {
      display: flex;
      align-items: center;
      gap: 32px;
      max-width: max-content;

    }

    a[href^="tel:"] {
      margin-bottom: 0;
    }
  }

  @media (max-width: 650px) {
    &__call {
      flex-direction: column;
      gap: 12px;
      margin: 0 auto;
    }

  }

  @media (max-width: 425px) {
    .title {
      font-size: 26px;
    }

    .subtitle {
      font-size: 18px;
    }

    a[href^="tel:"] {
      font-size: 22px;
    }

    &__call {
      padding: 26px 35px;
      width: 100%;
      max-width: 100%;
    }

  }

}
