.promo {
  padding: 32px 0;
  background-color: #018079;
  color: #ffffff;

  .wrapper {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 32px;
    align-items: center;
  }

  .title {
    color: inherit;
    font-weight: 500;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    margin: 0;
    margin-bottom: 25px;

    &--clear {
      margin: 0;
    }

  }

  .subtitle {
    color: inherit;
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
  }

  &__call {
    background: #41E1BB;
    border-radius: 60px 200px 200px 0px;
    padding: 54px 82px 57px;
    &--mod {
      padding: 34px 74px 37px 82px;
    }
  }

  a[href^="tel:"] {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 20px;

    color: #FFFFFF;
  }

  .button {
    height: 60px;
    width: 100%;
    max-width: 313px;
  }
}
