.ratings {
  background-color: #dbfff6;
  padding-bottom: 0;
  &__container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item {
    background: var(--White);
    padding: 30px 48px 25px 25px;
    border-radius: 40px 100px 100px 0px;
    max-width: 304px;
    width: 100%;
    margin-bottom: 32px;

    position: absolute;

    &:first-child {
      top: 37px;
      left: -117px;
    }
    &:nth-child(2) {
      bottom: 131px;
      left: -229px;
    }
    &:nth-child(3) {
      top: 37px;
      right: -170px;
    }
    &:last-child {
      bottom: 131px;
      right: -281px;
    }
  }
  &__top-details {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    span {
      font-weight: 700;
      font-size: 35px;
      line-height: 1;
      display: flex;
      align-items: center;
      letter-spacing: 0.01em;
      color: var(--Black);
    }
  }
  &__stars {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 24px);
    gap: 3px;
    margin-left: 24px;
  }
  &__image {
    img {
      display: block;
    }
  }
  &__logo {
    height: 37px;
    display: flex;
    align-items: center;
  }

  @media (max-width: 1440px) {
    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
      max-width: initial;
      width: initial;
      align-items: flex-end;
    }
    &__list {
      display: grid;
      gap: 32px;
      grid-template-columns: 1fr;
      align-items: flex-start;
    }
    &__item {
      position: initial;
      padding: 22px 46px 22px 22px;
      margin-bottom: 0;
      max-width: max-content;
      display: flex;
      align-items: center;
    }
    &__top-details {
      margin-bottom: 0;
    }
    &__logo {
      margin-left: 24px;
    }
  }

  @media (max-width: 1200px) {
    padding-bottom: 60px;
    &__container {
      grid-template-columns: 1fr;
      gap: 0;
    }
    &__image {
      margin: 0 auto;
    }
    &__list {
      gap: 16px 32px;
      grid-template-columns: auto auto;
      align-items: flex-start;
      justify-content: center;
    }
  }
  @media (max-width: 1200px) {
    &__item {
      max-width: max-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    &__top-details {
      margin-bottom: 12px;
    }
    &__logo {
      margin-left: 0;
    }
  }
  @media (max-width: 680px) {
    &__container {
      display: block;
    }
    &__list {
      grid-template-columns: 1fr;
    }
    &__item {
      max-width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: self-start;
      padding: 22px;
    }
    &__top-details {
      margin-bottom: 12px;
      margin-right: 24px;
      flex-shrink: 0;
      span {
        font-size: 27px;
      }
    }
    &__logo {
      flex-shrink: 0;
      height: initial;
    }
  }
}
