.hero {
  position: relative;
}

.slider-hero {
  &__item {
    padding-top: 52px;
    padding-bottom: 120px;
    background-color: var(--brand6);
    min-height: 685px;
  }

  &__details {
    display: flex;
    gap: 32px;
    position: relative;
    z-index: 20;
    max-width: 670px;
  }

  &__group {
    max-width: 455px;
    width: 100%;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    color: #000000;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .decorate-1,
  .decorate-2 {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 9px;
  }
  .decorate-1 {
    width: 134px;
    height: 29px;
    background-image: url(../img/icons/diagram-1.svg);
  }
  .decorate-2 {
    width: 87px;
    height: 32px;
    background-image: url(../img/icons/diagram-2.svg);
  }
  &__price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #000000;
    padding: 6px 18px 11px 25px;
    background: #ffffff;
    border-radius: 30px 70px 70px 0px;
    margin: 0 auto;
    max-width: max-content;

    del {
      font-weight: 500;
      font-size: 24px;
      line-height: 160%;
      letter-spacing: 0.01em;
      text-decoration-line: line-through;
      color: #41e1bb;
    }
  }
  &__subtitle {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #000000;
    max-width: 380px;
    margin-bottom: 30px;
  }

  .button {
    height: 72px;
    padding: 25px 45px;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__list {
    max-width: 235px;
    width: 100%;
    padding-top: 62px;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      background: #41e1bb;
      border-radius: 30px 70px 70px 0px;
      margin-bottom: 30px;
      padding: 16px 42px;
      padding-left: 48px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: #006f68;
      position: relative;
      display: flex;
      align-items: center;

      svg {
        position: absolute;
        left: -12px;

        path {
          fill: var(--brand2);
        }
      }

      b {
        font-weight: 700;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;

    img {
      display: block;
    }
  }
  &__pagination {
    bottom: 65px;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;

    .swiper-pagination {
      position: initial;
      margin-right: auto;
      max-width: max-content;
    }
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    opacity: 1;

    &-active {
      background-color: #000000;
    }
  }
}

.analizy-na-koronavirus {
  .slider-hero__details {
    max-width: 785px;
  }
  .slider-hero__image {
    top: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }

  .slider-hero__group {
    max-width: 385px;
  }
  .slider-hero__list {
    max-width: 350px;
  }
}

.vedenie-beremennosti {
  .slider-hero__details {
    max-width: 642px;
  }

  .slider-hero__image {
    top: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }
  .slider-hero__group {
    max-width: 100%;
  }

  .slider-hero__list {
    max-width: initial;
    padding: 0;
    margin-bottom: 32px;
    ul {
      display: flex;
      gap: 20px 42px;
      flex-wrap: wrap;
    }
    li {
      width: calc(50% - 21px);
      margin: 0;
    }
  }
}

.videoezofagogastroduodenoskopiya {
  .slider-hero__title {
    font-size: 50px;
  }
  .slider-hero__details {
    max-width: 751px;
  }
  .slider-hero__group {
    max-width: 415px;
  }
  .slider-hero__list {
    max-width: 320px;
  }
  .slider-hero__image {
    top: 0;
    bottom: 0;

    img {
      height: 100%;
    }
  }
  &__subtitle {

    font-size: 16px;
  }
}
