.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: flex-start;
  display: flex;
  margin-bottom: 0.5em;
  li {
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    color: var(--gray1);

    &::after {
      content: url("../img/icons/breadcrumbs-arow.svg");
      margin-left: 0.5em;
    }

    &:last-child {
      color: var(--brand2);
      &::after {
        display: none;
      }
    }
    &:first-child {
      a {
        margin-left: 0.5em;
      }
    }
  }
  @media (max-width: 650px) {
    li {
      font-size: 14px;
    }
  }
}