.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--accent1);
  border: 1px solid;
  border-color: var(--accent1);
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  padding: 1.1em 2em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: var(--Black);
  box-shadow: none;
  position: relative;
  border-radius: 70px;
  max-width: max-content;

  &--light {
    background-color: transparent;
    border-color: var(--Black);
  }

  &--icon {
    display: flex;
    align-items: center;
    // gap: 16px;
    line-height: 1;

    svg {
      margin-right: 16px;
    }
  }
  &--small {
    padding: 1em 2em;
    font-size: 14px !important;
    font-weight: 600;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: 1440px) {
    font-size: 16px;
  }

  @media (max-width: 1024px) {
    font-size: 12px;

    &--icon {
      // gap: 8px !important;

      svg {
        margin-right: 6px;
        width: 18px;
      }
    }
  }
}

.ripple {
  position: relative;
  // display: inline-block;
  overflow: hidden;
  // color: #fff;
  // margin: 50px 0;
  // padding: 18px 36px;
  // border-radius: 36px;
  // font: 600 22px 'Poppins';
  // letter-spacing: 1px;

  &:nth-child(1) {
    background-color: red;
  }
  
  &:nth-child(2) {
    background-color: green;
  }
  .dec {
    position: absolute;
    border-radius: 50%;
    background: blue;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: animate 1s linear infinite;
  }
}


@keyframes animate {

  from {
      width: 0;
      height: 0;
      opacity: 1;
  }

  to {
      width: 500px;
      height: 500px;
      opacity: 1;
  }

}
