.simple-text {
  margin-bottom: 90px;
  p {
    color: var(--gray1);
    font-size: 18px;
  }
  .lead {
    font-weight: 500;
    font-size: 24px;
    color: var(--black);
    margin-bottom: 2em;
  }
  @media (max-width: 1200px) {
    .lead {
      font-size: 20px;
    }
  }
}
