.social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  max-width: max-content;
  width: 100%;
  grid-gap: 8px;

  li {
    flex-grow: 0;
    width: 35px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--brand4);
    position: relative;

    svg {
      pointer-events: none;
      position: absolute;
    }



    &:hover,
    &:active {
      opacity: 0.5;
    }
  }

  @media (max-width: 1024px) {
    li {
      width: 30px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}
