.top-button {
  position: fixed;
  width: 80px;
  height: 80px;
  background: #FFC700;
  box-shadow: 0px 6px 20px rgba(101, 104, 108, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  bottom: 100px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-in-out;

  svg {
    position: absolute;
    pointer-events: none;
  }

  @media (max-width: 768px) {
    width: 70px;
    height: 70px;
  }

}

.up-button-show {
  .top-button {
    opacity: 1;
    visibility: visible;
  }
}
